a.jira-link {
    background: url('chrome-extension://__MSG_@@extension_id__/icons/jira.png') no-repeat left center, url('icons/jira.png') no-repeat left center;
    background-size:100%;
    padding-left: 19px;
}
.jira-link, .jira-link:active {
    text-decoration: none;
    color: inherit;
}